.site-header {
  background: white;
  width: 100%;
}

.page-content {
  margin-top: $spacing-unit * 1.865;
}

.post-content h2 {
  display: list-item;
  margin-top: 40px;
}

.post-content h3 {
  margin-top: 40px;
}

table th, table td {
  padding: 5px 15px;
}

.table-wrapper {
  max-height: 500px; 
  margin-bottom: $spacing-unit;
  overflow-y: scroll;
}

.site-title {
  float: none;
}

.penn-shield {
  float: left;
  height: 30px;
  line-height: 42px;
  display: block;
  padding: 10px;
  padding-left: 0;
  display: none;
}

.penn-shield img {
  height: 100%;
}

.site-nav {
  float: none;
}

.site-nav .page-link {
  white-space: nowrap;
}
